@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --card-background-color: rgb(255, 255, 255);
  /* allotment */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

@tailwind components;
@tailwind utilities;

:root {
  --primary: rgba(236 239 241 06);
  --secondary: #2196f3;
}

@tailwind base;

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

.geoduck-bottom-tabs-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.geoduck-bottom-tabs-header nav {
  width: 89%;
}

.geoduck-bottom-tabs-header .geoduck-bottom-allotment-buttons {
  width: 10%;
}

.shell_container .term_container {
  overflow: unset !important;
}

.shell_container .term_container .xterm-screen {
  width: 100% !important;
}

.geoduck-bottom-allotment.container {
  max-width: 100%;
}

.geoduck-bottom-allotment-wrap .data-collection {
  max-height: 16rem !important;
}

.Content_navbar__fRkEV.overflow-hidden.light {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  overflow: unset !important;
}

ul.geoduck-sidebar-tab-nav {
  padding-top: 10px !important;
}

button.geoduck-left-allotment-collapse {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  left: 300px;
}

button.geoduck-left-allotment-collapse.geoduck-allotment-invisible {
  left: 0px !important;
}