@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

:root {
  font-family: "Nunito";
}

.shell_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  /* background-color: #0fb04a; */
  /* color: #fd0fbe; */
  margin: 0px 0px 0px 0px;
}

.btn-primary {
  background-color: hsl(56deg 100% 35%) !important;
  border-color: hsl(56deg 100% 35%) !important;
}

.btn:focus,
.btn:active {
  outline: hsl(56deg 100% 30%) !important;
  box-shadow: 0 0 0 3px hsl(56deg 90% 30%) !important;
}

.nav-link {
  color: hsl(56deg 100% 35%) !important;
}

.nav-link.active {
  color: black !important;
}

.xterm .xterm-viewport {
  background-color: transparent;
  /* overflow-y: scroll; */
  cursor: default;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  /* scrollbar-color: white #333; */
  scrollbar-width: thin;
  /* max-height: 400px; */
  /* padding-left: 10%; */
}

.xterm .xterm-viewport .xterm-screen {
  /* max-height: 20vh; */
  height: 100%;
}

.xterm-viewport::-webkit-scrollbar {
  /* background-color: #ffffff; */
  width: 10px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  /* background: white; */
}

.container {
  width: 100%;
}

.root {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.resizer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.term_container {
  /* width: 100%; */
  /* height: 100%; */
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0px 0 0 0px;
  margin: 0px 0px 0px 0px;
  /* background-color: #f90404; */
}